
/***********************************************************/
/***********************************************************/
/****                                                   ****/
/**** CUSTOM WASTE FLOWS VISUALISATION STYLESHEET    ****/
/**** -----------------------------------------------   ****/
/**** - CSS Variables and loaded fonts from core.css    ****/
/****                                                   ****/
/***********************************************************/
/********************************************++***************/

/*** Palette ***/

/********************************************/
/*** COLOUR PALETTES | CSS VARIABLE DEFS  ***/
/********************************************/

:root {
    /** PRIMARY GCW GREEN AND LIME PALLETTE **/
    --green:                 #006838;
    --lime:                  #98c035;

    /*** MONOCHROMES */
    --lightgrey:            rgb(220, 220, 220);
    --grey:                 rgb(100, 100, 100);       
    --darkgrey:             rgb(20, 20, 20);

}

body, select{
    font-family: 'Roboto';
    margin: 0px;
}
main{
    z-index: 1;
    transition: 800ms; 
    margin: 0 1.5rem;
}
main.blur{
    filter: blur(4px)
}
aside{
    z-index: 1;
}
.title-block{
    border-bottom: 1.0px solid var(--grey);
    display: grid;
    grid-template-columns: auto auto;
}
    .title-container{
        grid-area: 1 / 1 / 2 / 2;
        width: auto;
    }
    .logo-container{
        grid-area: 1 / 2 / 2 / 3;
        width: auto;
        align-items: center;
        display: grid;
        justify-items: end;
        margin-right: 1vw;

    }
    .logo-container img{
        width: 30%;
    }
    .title-container{
        display: inline-block
    }
    .main-title,
    select#region-selector {
        color: var(--green);
        /* text-transform: uppercase; */
        font-size: 2.25vw;
        font-weight: 400;
    }
    .main-title{
        margin-block-start: 1.75rem;
        margin-block-end: 0.75rem;
    }
    select.data-selector{
        margin-left: 0.5rem;
    }
    .main-subtitle, 
    .year-selector-container,
    .dropdown-container select{  
        font-size: 1vw;
        margin-block-start: 0em;
        font-weight: 300;
    }

    /* Selectors */
    .dropdown-container{
        display: inline-flex;
    }
    .date-selector-container{
        display: inline-flex;
        padding: 0.5rem 0rem 1.5rem 0rem;
    }
    .dropdown-container select{
        border: none;
        border-bottom: dotted 0.25px var(--grey);
        margin-right: 0.75rem;
    }

/* SVG ELEMENTS */
.node-link-cover{
    fill: #fff;
}
.node{
    cursor: pointer;
    opacity: 0.3;
}
.node-label{
    pointer-events: none;
    font-weight: 600;
    font-size: 16px;
    text-anchor: middle;
    text-shadow:
         #fff 1.5px 1.5px 3px, 
         #fff -1.5px -1.5px 3px, 
         #fff 5px 5px 10px,
         #fff -5px -5px 10px;
}
.node-label.data{
    font-weight: 400;
    font-size: 11px;
}

.link{
    cursor: pointer;
    fill: none;
    stroke:rgb(50, 50, 50);
    stroke-width: 2px;
    mix-blend-mode: multiply;
    opacity: 0.25;
}
.link:hover{
    opacity: 0.65;
}
.label-section{
    font-size: 20px;
    font-weight: 400;
    fill: var(--grey);
}
.label-section.data{
    font-size: 20px;
    font-weight: 400;
}

.label-end-destination{
    font-size: 12px;
    font-weight: 2400;
    text-anchor: middle
}
.label-end-destination.data{
    font-size: 16px;
    font-weight: 400;
}

.link.waste-disposal{
    stroke: #FF7276;
}
.link.waste-to-energy{
    stroke:#a344a3;
}
.link.recovered-product{
    stroke: var(--green);
}
.link.export{
    stroke: var(--lime);
}
.link.waste-management{
    stroke: #F6BE00;
}

.label-end-destination.waste-disposal{
    fill: #FF7276;
}
.label-end-destination.waste-to-energy{
    fill: #a344a3;
}
.label-end-destination.recovered-product{
    fill: var(--green);
}


/** MOUSEOVER TOOLTIP ***/
.tooltip{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 17.5vw;
    /* height: 5vw; */
    background-color: rgba(0, 0, 0, 0.85);
    border:var(--lime) 1px solid;
    color: #fff;
    border-radius: 1.0vw;
    display: grid;
    padding: 1vw;
    pointer-events: none;
}
.tooltip-header{
    font-size: 0.6vw;
    height: fit-content;
}
.tooltip-content{
    font-size: 0.6vw;
    height: fit-content;
}
.tooltip-volume{
    color: var(--lime);
    font-size: 1.25vw;
    padding: 0.25rem 0;
}
.tooltip-more{
    text-align: center;
    font-style: italic;
    color: var(--lime);
}
/** MODAL WINDOW ***/
.modal-container{
    position: fixed;
    left: 50%;
    top: 50%; 
    height: 100vh;
    width: 100vw;
    transition: 0.8s
}
.modal-container.closed{
    pointer-events: none;
    opacity: 0
}
.modal-wrapper{
  position:relative; 
  left: -50%;
  top: -50%;
}
.modal-content-container{
    position: relative;
    z-index: 5;
    /* height: calc(95vh - 2rem); */
    height: calc(100vh - 8px - 5vh - 2rem);
    /* width: calc(95vw - 2rem); */
    width: calc(100vw - 8px - 5vw - 2rem);
    background-color: rgba(0, 0, 0, 0.85);
    border: #000 4px solid;
    border-radius: 2vw;
    margin: 2.5vh 2.5vw;
    padding: 1rem;
    overflow: scroll;

}
h2.modal-title{
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: #fff solid 2px;
    line-height: 1.25;
    padding-right: 2rem;
    margin-block-start: 0rem;
}
.modal-content{
    font-size: 1rem;
    line-height: 1.25;
    color: #fff;
}
.modal-close-button{
    z-index: 10;
    position: absolute;
    top: 2vh;
    right: 5vw;
    color: #fff;
    font-size: 3vw;
    cursor: pointer;
    text-shadow:
         #000 1.5px 1.5px 3px, 
         #000 -1.5px -1.5px 3px, 
         #000 5px 5px 10px,
         #000 -5px -5px 10px;
}    

.powerBI-embed-container iframe{
    width: 90vw;
    height: 55vw;
}


@media print{
    .title-block{
        margin: 2rem 0rem 1rem;
    }
}
