
/***********************************************************/
/***********************************************************/
/****                                                   ****/
/**** CUSTOM WASTE FLOWS VISUALISATION STYLESHEET    ****/
/**** -----------------------------------------------   ****/
/**** - CSS Variables and loaded fonts from core.css    ****/
/****                                                   ****/
/***********************************************************/
/********************************************++***************/

/*** Palette ***/

/********************************************/
/*** COLOUR PALETTES | CSS VARIABLE DEFS  ***/
/********************************************/

:root {
    /** PRIMARY GCW GREEN AND LIME PALLETTE **/
    --green:                 #006838;
    --lime:                  #98c035;

    /*** MONOCHROMS */
    --lightgrey:            rgb(220, 220, 220);
    --grey:                 rgb(100, 100, 100);       
    --darkgrey:             rgb(20, 20, 20);

}

body{
    font-family: 'Roboto';
}
.title-block{
    border-bottom: 3px solid #000;
}
    .main-title{
        font-size: 5vw;
        margin-block-end: 0.25rem;
    }
    .main-subtitle{
        font-size: 2.5vw;
    }


circle.node-bg{

}
.node-bg{
    cursor: pointer;
}
.node-label{
    pointer-events: none;
    font-weight: 600;
    font-size: 10px;
    text-anchor: middle;
    /* dominant-baseline: middle; */
}
.link{
    cursor: pointer;
    fill: none;
    stroke:rgb(50, 50, 50);
    stroke-width: 2px;
    mix-blend-mode: multiply;
    opacity: 0.1
}
.link:hover{
    opacity: 1;
}

.label-section{
    font-size: 30px;
    font-weight: 600;
}